
:root{
  --black:#080213;
  --orange:#F4AF5C;
  --secondary:#CC725D;


}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}

body {
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Roboto', sans-serif;

  /* font-family: 'Satisfy', cursive; */
  color: #fff;
  background-color: var(--black);
}
.wrapper {
  width: 100%;
  display: flex;
  height: 100vh;

}

.sidebar {
  width: 8%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10%;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color:  whitesmoke;
  font-weight: 600;
}

.top-rated {
  width: 90vw;
  margin-top: 4%;
  border-radius: 3px;
  display: grid;

  /* Use  display property as grid*/
  gap: 10px;
  grid-template-columns: repeat(
      auto-fill, minmax(200px, 1fr));
}
h3 {
  grid-column-start: 0  ;
}
